<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.dao.CommodityDao">

    <insert id="insertCommodity" parameterType="com.car.entity.OldCommodity">
        INSERT INTO old_commodity (quality_shop_id,commodity_category_id,commodity_name,commodity_code,
        commodity_picture,description,use_time_length,price,consignment_price,freight,publish_user_id,
        arrival_time,address,detail_address,longitude,latitude,create_time,update_time)
        VALUES (#{qualityShopId},#{commodityCategoryId},#{commodityName},#{commodityCode},
        #{commodityPicture},#{description},#{useTimeLength},#{price},#{consignmentPrice},
        #{freight},#{publishUserId},#{arrivalTime},#{address},#{detailAddress},#{longitude},
        #{latitude},#{createTime},#{updateTime})
    </insert>

    <select id="queryCommoditysByCategoryId" resultType="com.car.vo.CommodityVO">
        SELECT id oldCommodityId,quality_shop_id,commodity_category_id,commodity_name,commodity_code,
        commodity_picture,description,use_time_length,price,consignment_price,
        freight,publish_user_id,address,detail_address,longitude,latitude
        FROM old_commodity
        <if test="commodityCategoryId != 0">
        	WHERE commodity_category_id = #{commodityCategoryId}
        </if>
        ORDER BY create_time DESC LIMIT #{pageId}, #{pageSize}
    </select>

    <delete id="deleteCommodityById">
        DELETE
        FROM
          old_commodity
        WHERE id = #{commodityById}
    </delete>

    <update id="updateCommodityById">
        UPDATE
          old_commodity
        SET
          <if test="commodityName != null">
              commodity_name = #{commodityName},
          </if>
          <if test="commodityPicture != null">
              commodity_picture = #{commodityPicture},
          </if>
          <if test="description != null">
              description = #{description},
          </if>
          <if test="useStartTime != null">
              use_start_time = #{useStartTime},
          </if>
          <if test="useEndTime != null">
              use_end_time = #{useEndTime},
          </if>
          <if test="useState != null">
              use_state = #{useState},
          </if>
          <if test="price != null">
              price = #{price},
          </if>
          <if test="tradeMode != null">
              trade_mode = #{tradeMode},
          </if>
          <if test="model != null">
              model = #{model},
          </if>
          <if test="brand != null">
              brand = #{brand},
          </if>
          <if test="color != null">
              color = #{color},
          </if>
          <if test="material != null">
              material = #{material},
          </if>
          <if test="haveFlaw != null">
              have_flaw = #{haveFlaw},
          </if>
          <if test="tyreSize != null">
              tyre_size = #{tyreSize},
          </if>
          <if test="holeSpacing != null">
              hole_spacing = #{holeSpacing},
          </if>
          <if test="manufacturMode != null">
              manufactur_mode = #{manufacturMode},
          </if>
          <if test="lightType != null">
              light_type = #{lightType},
          </if>
          <if test="hubSize != null">
              hub_size = #{hubSize},
          </if>
          <if test="size != null">
              size = #{size},
          </if>
          <if test="type != null">
              type = #{type},
          </if>
          <if test="flaw != null">
              flaw = #{flaw},
          </if>
          <if test="position != null">
              position = #{position},
          </if>
          <if test="commodityNum != null">
              commodity_num = #{commodityNum},
          </if>
          <if test="startPrice != null">
              start_price = #{startPrice},
          </if>
          <if test="freight != null">
              freight = #{freight},
          </if>
          <if test="otherCategoryName != null">
              other_category_name = #{otherCategoryName},
          </if>
          <if test="concreteDescription != null">
              concrete_description = #{concreteDescription},
          </if>
          update_time = SYSDATE()
        WHERE id = #{commodityId}
    </update>

    <select id="queryUserOldCommoditysByUserId" resultType="com.car.vo.CommodityVO">
        SELECT
          id commodityId,
          commodity_name,
          commodity_picture,
          description,
          DATE_FORMAT(use_start_time,'%Y-%m-%d %H:%i') AS use_start_time,
          DATE_FORMAT(use_end_time,'%Y-%m-%d %H:%i') AS use_end_time,
          use_state,
          price,
          trade_mode,
          brand,
          model,
          color,
          material,
          have_flaw,
          tyre_size,
          hole_spacing,
          manufactur_mode,
          light_type,
          hub_size,
          size,
          flaw,
          type,
          position,
          commodity_num,
          start_price,
          freight,
          publish_user_name,
          publish_user_head,
          other_category_name,
          concrete_description
        FROM
          old_commodity
        WHERE publish_user_id = #{userId}
    </select>

</mapper>