<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.dao.CommodityQuestionDao">

    <insert id="insertCommodityQuestion" parameterType="com.car.entity.CommodityQuestion">
        INSERT INTO commodity_question (
           parent_id,question_type_id,question_type,user_id,user_name,replay_content,
           replay_date,replay_status,create_time,update_time
        )
        VALUES(
           #{parentId},#{questionTypeId},#{questionType},#{userId},#{userName},#{replayContent},
           #{replayDate},#{replayStatus},#{createTime},#{updateTime}
        )
    </insert>

    <select id="queryCommodityQuestionsByTypeId" resultType="com.car.dto.CommodityQuestionDTO">
        SELECT
          id as commodityQuestionId,
          parent_id,
          user_name,
          replay_content,
          replay_date,
          question_type
        FROM
          commodity_question
        WHERE question_type = #{questionType}
        and question_type_id = #{questionTypeId}
    </select>

    <select id="getUserIdByCommodityId" resultType="Long">
        SELECT
          publish_user_id
        FROM
          old_commodity
        WHERE id = #{getUserIdByquestionTypeId}
    </select>

    <select id="getUserIdByPublishPostId" resultType="Long">
        SELECT
          publish_user_id
        FROM
          publish_post
        WHERE id = #{getUserIdByquestionTypeId}
    </select>

    <select id="queryPageInfoCommodityQuestions" resultType="com.car.dto.MainPageInfoDTO">
        SELECT
          id as publishPostId,
          publish_title,
          publish_content,
          publish_picture,
          publish_user_id
        FROM
          publish_post
        WHERE approve_status = 2
        ORDER BY publish_time DESC
        LIMIT #{pageId}, #{pageSize}
    </select>

</mapper>