<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.dao.CommodityDao">

    <insert id="insertCommodity" parameterType="com.car.entity.OldCommodity">
        INSERT INTO old_commodity (commodity_category_id,commodity_name,commodity_picture,
        description,use_start_time,use_end_time,use_state,price,publish_user_id,
        trade_mode,create_time,update_time,brand,model,color,material,have_flaw,
        tyre_size,hole_spacing,manufactur_mode,light_type,hub_size,size,type,
        flaw,position,commodity_num)
        VALUES (#{commodityCategoryId},#{commodityName},#{commodityPicture},
        #{description},#{useStartTime},#{useEndTime},#{useState},#{price},#{publishUserId},
        #{tradeMode},#{createTime},#{updateTime},#{brand},#{model},#{color},#{material},#{haveFlaw},
        #{tyreSize},#{holeSpacing},#{manufacturMode},#{lightType},#{hubSize},#{size},#{type},
        #{flaw},#{position},#{commodityNum})
    </insert>

    <select id="queryCommoditysByCategoryId" resultType="com.car.vo.CommodityVO">
        SELECT
          id commodityId,
          commodity_name,
          commodity_picture,
          description,
          use_start_time,
          use_end_time,
          use_state,
          price,
          trade_mode,
          brand,
          model,
          color,
          material,
          have_flaw,
          tyre_size,
          hole_spacing,
          manufactur_mode,
          light_type,
          hub_size,
          size,
          flaw,
          type,
          position,
          commodity_num
        FROM old_commodity
        WHERE commodity_category_id = #{commodityCategoryId}
        ORDER BY seq DESC LIMIT #{pageId}, #{pageSize}
    </select>

</mapper>