<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.dao.CourseDao">
	
	<select id="getFamousCoursesByProjectAndCategory" resultType="com.car.vo.CourseVO">
		SELECT IF(ucr.actual_money IS NULL, 0, ucr.actual_money) AS actual_money,
		c.id courseId,c.course_name,DATE_FORMAT(ucr.buy_date,'%Y-%m-%d') AS buy_date, 
		picture_url,course_type,one_word,introduce,c.teacher_id,c.teacher_name,c.course_count, 
		c.price,c.project_id,c.subject_id,c.subject_name,c.discount,c.course_url
		FROM course c LEFT JOIN user_course_record ucr ON 
		(ucr.cargo_id = c.id AND ucr.user_id = #{userId} AND cargo_type = 0 AND ucr.effective = 1)
		WHERE c.effective = 1 AND c.project_id = #{projectId} AND c.category_id = #{categoryId}
		AND course_type = #{courseType} AND c.is_famous = 1
		ORDER BY c.seq DESC 
		<if test="limitCount != 0">
			LIMIT #{limitCount}
		</if>
	</select>
	
	<select id="getLastCoursesByProjectAndCategory" resultType="com.car.vo.CourseVO">
		SELECT IF(ucr.actual_money IS NULL, 0, ucr.actual_money) AS actual_money,
		c.id courseId,c.course_name,DATE_FORMAT(ucr.buy_date,'%Y-%m-%d') AS buy_date, 
		picture_url,course_type,one_word,introduce,c.teacher_id,c.teacher_name,c.course_count, 
		c.price,c.project_id,c.subject_id,c.subject_name,c.discount,c.course_url
		FROM course c LEFT JOIN user_course_record ucr ON 
		(ucr.cargo_id = c.id AND ucr.user_id = #{userId} AND cargo_type = 0 AND ucr.effective = 1)
		WHERE c.effective = 1 
		AND c.project_id = #{projectId} 
		<if test="categoryId != -1">
			AND c.category_id = #{categoryId} 
		</if>
		AND course_type = #{courseType} 
		ORDER BY c.seq DESC LIMIT 4
	</select>
	
	<select id="getAllCoursesByCondition" resultType="com.car.vo.CourseVO">
		SELECT IF(ucr.actual_money IS NULL, 0, ucr.actual_money) AS actual_money,
		c.id courseId,c.course_name,DATE_FORMAT(ucr.buy_date,'%Y-%m-%d') AS buy_date, 
		picture_url,course_type,one_word,introduce,c.teacher_id,c.teacher_name,c.course_count, 
		c.price,c.project_id,c.subject_id,c.subject_name,c.discount,c.course_url
		FROM subject s, course c LEFT JOIN user_course_record ucr ON 
		(ucr.cargo_id = c.id AND ucr.user_id = #{userId} AND cargo_type = 0 AND ucr.effective = 1)
		WHERE s.id = c.subject_id AND c.effective = 1 AND c.project_id = #{projectId} 
		AND c.category_id = #{categoryId} AND c.course_type = #{courseType}
		ORDER BY s.seq DESC,c.seq DESC
	</select>
	
	<select id="getDailyExercisesByCondition" resultType="com.car.vo.CourseVO">
		SELECT IF(ucr.actual_money IS NULL, 0, ucr.actual_money) AS actual_money,
		c.id courseId,c.course_name,DATE_FORMAT(ucr.buy_date,'%Y-%m-%d') AS buy_date, 
		picture_url,course_type,one_word,introduce,c.teacher_id,c.teacher_name,c.course_count, 
		c.price,c.project_id,c.subject_id,c.subject_name,c.discount,c.course_url
		FROM course c LEFT JOIN user_course_record ucr ON 
		(ucr.cargo_id = c.id AND ucr.user_id = #{userId} AND cargo_type = 0 AND ucr.effective = 1)
		WHERE c.effective = 1 AND c.project_id = #{projectId} 
		AND c.course_type = #{courseType} 
		ORDER BY c.seq DESC LIMIT #{pageId}, #{pageSize}
	</select>

</mapper>