<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.dao.ExerciseContentDao">

	<select id="getExerciseContentsBySection" resultType="com.car.vo.ExerciseContentVO">
		SELECT et.id exerciseTypeId,et.exercise_type,et.exercise_name,
		et.description,ec.id exerciseContentId,
		ec.exercise_content,ec.answer_analysis,ec.exercise_answer_picture, 
		ec.optionss,ec.right_answer,ec.score,ec.exercise_content_picture 
		FROM exercise_type et,exercise_content ec 
		WHERE et.id = ec.exercise_type_id 
		AND ec.section_id = #{sectionId} 
		ORDER BY et.seq,ec.seq,ec.create_date
	</select>

</mapper>