<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.dao.NewMsgDao">

	<select id="getLastNewMsgsByProject" resultType="com.car.vo.NewMsgVO">
		SELECT id as newMsgId,one_word,msg_content_url,msg_name
		FROM new_msg 
		WHERE project_id = #{projectId} 
		AND effective = 1 ORDER BY create_date DESC LIMIT 4
	</select>
	
	<select id="getNewMsgsByProject" resultType="com.car.vo.NewMsgVO">
		SELECT nm.id AS newMsgId,one_word,msg_content_url,msg_name,
		msg_type_id,mt.type_name msgTypeName,DATE_FORMAT(publish_date, '%m月%d日') publishDate
		FROM msg_type mt,new_msg nm
		WHERE mt.id = nm.msg_type_id AND mt.project_id = #{projectId} 
		AND mt.effective = 1 AND nm.effective = 1 
		ORDER BY mt.seq DESC, nm.create_date DESC
	</select>

</mapper>