<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.dao.PayRecordDao">

	<select id="findByUserAndOrderNo" resultType="com.car.vo.PayRecordVO">
		SELECT id as payRecordId,user_id,user_mobile,user_name,
		pay_or_return,pay_date,coin,pay_type,bank,card_num,
		payer,manager_id,order_no,cargo_type,cargo_id,version
		FROM pay_record 
		WHERE user_id = #{userId} AND order_no = #{orderNo}
	</select>
	
	<select id="getPayRecordByOrderNo" resultType="com.car.vo.PayRecordVO">
		SELECT id as payRecordId,user_id,user_mobile,user_name,
		pay_or_return,pay_date,coin,pay_type,bank,card_num,
		payer,manager_id,order_no,cargo_type,cargo_id,version
		FROM pay_record 
		WHERE order_no = #{orderNo} AND pay_status = #{payStatus}
	</select>
	
	<insert id="savePayRecord" parameterType="com.car.entity.PayRecord">
		INSERT INTO pay_record (user_id,user_name,commodity_id,commodity_name,pay_or_return,pay_date,
		pay_money,pay_type,order_no,payer,pay_status,version) 
		VALUES (#{userId},#{userName},#{commodityId},#{commodityName},#{payOrReturn},#{payDate},
		#{payMoney},#{payType},#{orderNo},#{payer},#{payStatus},#{version})
	</insert>
	
	<update id="updatePayRecordStatus" parameterType="com.car.vo.PayRecordVO">
		UPDATE pay_record 
		SET pay_status = #{payStatus}, version = #{version} + 1
		WHERE id = #{payRecordId} AND version = #{version}
	</update>
	
	<select id="getMaxPayRecordId" resultType="long">
		SELECT max(id) FROM pay_record
	</select>
	
</mapper>