<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.dao.PublishPostDao">

    <insert id="insertPublishPost" parameterType="com.car.entity.PublishPost">
        INSERT INTO publish_post (publish_title,publish_content,publish_picture,
        publish_address,publish_user_id,publish_time,update_time,publish_user_name,publish_user_picture)
        VALUES (#{publishTitle},#{publishContent},#{publishPicture},#{publishAddress},
        #{publishUserId},#{publishTime},#{updateTime},#{publishUserName},#{publishUserPicture})
    </insert>

    <delete id="deletePublishPostById">
        DELETE
        FROM
          publish_post
        WHERE
          id = #{publishPostId}
    </delete>

    <select id="queryUserPublishPostsByUserId" resultType="com.car.vo.PublishPostVO">
        SELECT
          id AS publishPostId,
          publish_title,
          publish_content,
          publish_picture,
          publish_address,
          DATE_FORMAT(publish_time,'%Y-%m-%d %H:%i') AS publish_time,
          publish_user_name,
          publish_user_picture
        FROM
          publish_post
        WHERE publish_user_id = #{userId}
    </select>
</mapper>