<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.dao.SectionDao">
	
	<select id="getSectionsByCourse" resultType="com.car.vo.SectionVO">
		SELECT s.id AS sectionId,s.chapter_id,s.handout,s.section_name,
		s.time_length,s.section_type,s.section_url,s.free,s.exercise_count,s.seq
		FROM chapter c, section s 
		WHERE c.id = s.chapter_id AND c.course_id = #{courseId} ORDER BY s.seq
	</select>
	
	<select id="getSectionsByCondition" resultType="com.car.vo.SectionVO">
		SELECT s.id AS sectionId,s.chapter_id,s.handout,s.section_name,
		s.time_length,s.section_type,s.section_url,s.free,s.exercise_count,s.seq
		FROM course c, chapter ch, section s 
		WHERE c.id = ch.course_id 
		AND ch.id = s.chapter_id 
		AND c.effective = 1
		AND c.project_id = #{projectId}
		AND c.course_type = #{courseType} 
		ORDER BY s.seq DESC LIMIT #{pageId}, #{pageSize}
	</select>
	
</mapper>