<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.dao.SysDeptDao">
	
	<select id="findFirstSysDept" resultType="com.car.vo.SysDeptVO">
		SELECT dept_id as sysDeptId,name,address,
		contact,phone,description,ask_url,picture
		FROM sys_dept 
		WHERE parent_id = 0
	</select>
	
	

</mapper>