<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.dao.SysInfoDao">

	<insert id="saveSysInfo" parameterType="com.car.entity.SysInfo">
		INSERT INTO sys_info (user_id,info_type,produce_date,produce_username,info_content) 
		VALUES (#{userId},#{infoType},#{produceDate},#{produceUserName},#{infoContent})
	</insert>

	<select id="queryUserInfosByUserId" resultType="com.car.vo.SysInfoVO">
		SELECT
		  id sysInfoId,
		  info_type,
		  DATE_FORMAT(produce_date,'%Y-%m-%d %H:%i') AS produce_date,
		  produce_username,
		  info_content,
		  read_status
		FROM
		  sys_info
		WHERE user_id = #{userId}
		ORDER BY produce_date DESC
	</select>

	<delete id="deleteUserInfoById" >
		DELETE
        FROM
          sys_info
        WHERE
          id = #{sysInfoId}
	</delete>
</mapper>