<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.dao.UserIntroduceDao">

	<select id="findByOpenid" resultType="com.car.vo.UserIntroduceVO">
		SELECT id as userIntroduceId,user_id,offline_organization_id,
		openid,organization_code,organization_name,organization_picture
		FROM user_introduce WHERE openid = #{openid}
	</select>
	
	
	
</mapper>