<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.dao.UserCoinDao">

	<select id="findByUser" resultType="com.car.vo.UserCoinVO">
		SELECT id as userCoinId,user_id,coin,version
		FROM user_coin WHERE user_id = #{userId}
	</select>
	
	<select id="getUserCoinEntityByUser" resultType="com.car.entity.UserCoin">
		SELECT id,user_id,coin,version
		FROM user_coin WHERE user_id = #{userId}
	</select>
	
	<insert id="saveUserCoin" parameterType="com.car.entity.UserCoin">
		INSERT INTO user_coin (user_id,coin,create_time,update_time)
		VALUES (#{userId},#{coin},#{createTime},#{updateTime})
	</insert>
	
	<update id="updateUserCoin" parameterType="com.car.entity.UserCoin">
		UPDATE user_coin 
		SET coin = #{coin}, version = #{version} + 1, update_time = #{updateTime}
		WHERE user_id = #{userId} AND version = #{version}
	</update>
	
</mapper>